<!DOCTYPE html>
<html ng-app="ng-app">
<head>
	<title>NG Mad Libs</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body >

<div ng-controller="ng-controller">
	<section class="header">
		<div class="logo col-1-4">
			<img src="images/mad-lib-happy-face.png" alt="Mad Lib Happy Face">
		</div><!--
		--><div class="logo col-3-4">
			<img src="images/ng-mad-libs-logo.png" alt="NG Mad Libs Logo">
			<h1>Automate This!</h1>
		</div>
	</section>
	<section class="hero">
			<h2>Provide the following words:</h2>
			<br>
			<div class="row">
				<input type="text" placeholder="Name" ng-model="name" />
				Male<input type="radio" ng-model="genderMale" value="true" ng-checked="true">
				Female<input type="radio" ng-model="genderMale" value="false">
				<input type="text" placeholder="Dirty Task" ng-model="dirtyTask" /><input type="text" placeholder="Obnoxious Celebrity" ng-model="obnoxiousCelebrity" />
			</div>
			<div class="row">
				<input type="text" placeholder="Job Title" ng-model="jobTitle" /><input type="text" placeholder="Celebrity" ng-model="celebrity" /><input type="text" placeholder="Huge Number" ng-model="hugeNumber" />
			</div>
			<div class="row">
				<input type="text" placeholder="Tedious Task" ng-model="tediousTask" /><input type="text" placeholder="Useless Skill" ng-model="uselessSkill" /><input type="text" placeholder="Adjective" ng-model="adjective" />
			</div>
	</section>
	<section class="text">
		<p>
			{{name}} was a {{jobTitle}} who loved technology.
			Although <span ng-if="genderMale=='true'">he</span><span ng-if="genderMale=='false'">she</span> loved parts of <span ng-if="genderMale=='true'">his</span><span ng-if="genderMale=='false'">her</span> job, <span ng-if="genderMale=='true'">he</span><span ng-if="genderMale=='false'">she</span> absolutely hated
			{{tediousTask}} and {{dirtyTask}}. So, {{name}}
			met with <span ng-if="genderMale=='true'">his</span><span ng-if="genderMale=='false'">her</span> life mentor {{celebrity}} who told <span ng-if="genderMale=='true'">him</span><span ng-if="genderMale=='false'">her</span> to
			learn how to {{uselessSkill}} with Thinkful. Thinkful
			didn't offer a course on {{uselessSkill}} so {{name}} studied
			programming instead.
		</p>
		<p>
			What a great decision! With <span ng-if="genderMale=='true'">his</span><span ng-if="genderMale=='false'">her</span> new skills, {{name}}
			built a(n) {{adjective}} robot named {{obnoxiousCelebrity}}
			that not only loved {{dirtyTask}} but did it {{hugeNumber}} times
			faster.
		</p>
	</section>

</div>	
<script src="scripts/ng-app.js"></script>
</body>

</html>
  